*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #221f1fe9;
    --sb-track-color: #080808;
    --sb-thumb-color: #eeeaea;
    --sb-size: 9px;
}
body::-webkit-scrollbar {
    width: var(--sb-size);
}
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 16px;
}
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 16px;
    border: 1px solid #050505;
}
h1, h2, p{
    color: aliceblue;
}
h2{
    text-align: center;
    margin-top: 15rem;
}
.container{
    margin-top: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.container p{
    padding-bottom: 4em;
}
.container h1{
    padding-bottom: 1em;
}
.main_table{
    width: 60vw;
}
.partidas{
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10em;
    margin-top: 5rem;
    padding-bottom: 1rem;
    
}
#partidas{
    padding-top: 8em;

}
table, td, tr,th{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    padding: 5px;

    background-color:rgba(105, 36, 36, 0.445);
    color: rgb(190, 196, 201);
    box-shadow: rgb(165, 42, 42) 0px 25px 20px -20px;
}
table{
    width: 35vw;
    
}
.large{
    width: 75px;
}

.partidas tbody tr:first-child{
    font-weight: bold;
}

.rosa, .verde,.laranja, .azul, .preto{
    font-weight: bold;
}
.rosa{
    color: rgba(248, 105, 212, 0.986);
}

.verde{
    color: rgba(12, 248, 52, 0.979);
}

.laranja{
    color: rgb(243, 176, 52);
    
}

.azul{
    color: rgba(94, 143, 233, 0.973);
}

.preto{
    color: black;
}

.nav_container{
    /* position: relative; */
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100vw;
    margin: 0;
    padding: .5em;
    
    box-shadow: rgb(28, 29, 29) 0px 25px 20px -15px;
    background-color: rgba(0, 0, 0, 0.384);
    
    
}


.navBar ul{
    list-style: none;
    display: flex;
}
.navBar li{
    letter-spacing: 1.2px;
    font-size: 20px;
    padding-right: 1.5em;
}

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    text-shadow: 3px 3px 5px rgb(188, 190, 188);
}


.container_artilheiros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#artilheiros{
    padding-bottom: 2em;
    padding-top: 5em;
}
.artilheiros{
    margin-bottom: 2em;
}